# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore binaries
bin

#ignore credentials
tokens

.vscode

user/WorkingCalendar

user/logfile.txt

user/uploadedContests