### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

### Gradle Patch ###
**/build/

# Ignore Gradle project-specific cache directory
.gradle

# Vscode build
bin
.project
.classpath
factoryConfiguration.json
.settings/

#ignore credentials
tokens

.vscode

user/WorkingCalendar

user/logfile.txt

user/uploadedContests